@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* style for the ehading "your cart" */
.yourCart{
    font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 20px;
  }